/.project
/build.gradle
/CREDITS-fml.txt
/forge-1.7.2-10.12.1.1082-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/.gradle
/.settings
/build
/eclipse
/gradle
/.classpath
